build
.idea
*.iml
.project
.classpath
.settings
bin
xcuserdata/
project.xcworkspace/
.gradle/
build/
local.properties
gradle.properties
LibGDXMissileCommand/ios/xcode/native
versions.json
LibGDXMissileCommand/app/libs
